<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room 403</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="text">
        <p>Around 1 a.m., a murder occurred at a hotel. The location of the murder was room 403 of this hotel.</p>
        <p>The victim's name is Alex Johnson. He checked in at 04:30 PM, but I heard that he came back at 06:30 PM and requested to check in once more.</p>
        <p>As for me, I’m a famous detective of this era. There hasn’t been a single case I couldn’t solve.</p>
        <p>For now, let’s proceed step by step to solve this case.</p>
        <p>Since this hotel is structured to strictly prohibit access to outsiders, I assumed that the culprit must be one of the people who were inside the hotel at the time.</p>
        <p>I'm trying to check the list of visitors to narrow down the suspects.</p>
        <p>However, I realize I can’t access the visitor list. What should I do?</p>
    </div>
</body>
</html>
